{% extends "core/base.html" %}

{% block title %}Paquete de Reactivacion {% endblock %}

{% block body %}
<table id="myTable" class="display">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th>Número</th>
            <th>Valor</th>
            <th>Paquete</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in datos %}
        <tr>
            {% for columna in fila %}
                <td>{{ columna }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}