<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos Interactivos</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Librería de Plotly -->
</head>
<body>
    <h1>Gráficos Interactivos</h1>

        <div style="width: 80%;">
            <h2>Gráfico de Pastel</h2>
            {{ graph_html_pie|safe }}  <!-- Aquí se mostrará el gráfico de pastel -->
        </div>
    </div>
    <a href="/">Volver a la página principal</a>
</body>
</html>

